//Цвета
$soft-pink: #F79BB9;
$pink: #F03A76;
$white: #FFFFFF;
$black: #000000;
$light-gray: #CCCCCC;
$light-cyan: #BEEEF5;
$cyan: #3ADAD9;
$light-blue: #14B8E4;
$yellow: #FFDC64;

//Тело
$th1-body: #FFEBF1;
$th2-body: #181823;
$th3-body: $white;
$th4-body: #5129A6;
$th5-body: #F2E5E4;

$th1-title: #4A4A4A;
$th1-desc: #575757;
$th1-bg-btn: #FF90B5;
$th1-btn-title: #2C2B2B;

//Шапка
$th1-header: #FFFFFF88;
$th2-header: $black;
$th3-header: $white;
$th4-header: #6865BF;
$th5-header: #D9C5C1;
