//Цвета
$soft-pink: #F79BB9;
$pink: #F03A76;
$white: #FFFFFF;
$white-title: #DEECF9;
$white-desc: #C7E0FA;
$black: #000000;
$light-gray: #CCCCCC;
$gray: #575757;
$dark-gray: #4A4A4A;
$light-cyan: #BEEEF5;
$cyan: #3ADAD9;
$light-blue: #14B8E4;
$yellow: #FFDC64;
$purple: #6865BF;
$dark-purple: #5129A6;
$soft-green: #1BF2A3;
$light-beige: #F2E5E4;
$beige: #D9C5C1;
$dark-beige: #8C766D;