html {
	background-color: $white;
	transition: background-color .3s ease, color .3s ease;

	&.theme-1 {
		background-color: #FFEBF1;
	}

	&.theme-2 {
		background-color: #181823;
		color-scheme: dark;
		color: $white;
	}

	&.theme-3 {
		background-color: $white;
	}

	&.theme-4 {
		background-color: $dark-purple;
	}

	&.theme-5 {
		background-color: $light-beige;
	}
}

.header {
	position: fixed;
	width: 100%;
	height: 80px;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
	z-index: 999;
	transition: background-color .3s ease;

	html.theme-1 & {
		background-color: #FFFFFF88;
	}

	html.theme-2 & {
		background-color: $black;
	}

	html.theme-3 & {
		background-color: $white;
	}

	html.theme-4 & {
		background-color: $purple;
	}

	html.theme-5 & {
		background-color: $light-beige;
	}

	&__container {
		width: 960px;
		height: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
	}

	&__logo {
		text-transform: uppercase;
		font-family: 'Lato';
		font-size: 24.4px;
		letter-spacing: -0.5px;
		flex-basis: 370px;
		font-weight: 900;

		&_link {
			text-decoration: none;
		}

		html.theme-1 &_link {
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}

		html.theme-1 &_link, html.theme-2 &_link, html.theme-3 &_link {
			color: $pink;
		}

		html.theme-4 &_link {
			color: $white;
		}

		html.theme-5 &_link {
			color: $black;
		}
	}

	&__theme {
		display: flex;
		flex-direction: column;
		font-family: 'Lato';

		&_btn-select {
			display: flex;
			align-items: center;
			font-size: 14.5px;
			cursor: pointer;
		}

		html.theme-2 &_btn-select, html.theme-4 &_btn-select {
			color: $white;
		}

		&_icon {
			margin-left: 12px;
			width: 12px;
			height: 12px;
			fill: none;
			stroke: $black;
		}

		html.theme-2 &_icon, html.theme-4 &_icon {
			stroke: white;
		}

		&_list {
			display: none;
		}
	}
}

.main {
	width: 100%;
	height: auto;
	z-index: -1;
}

.performance {
	position: relative;
	width: 100%;
	height: 770px;
	mask-image: url('/img/sprite.svg#wrap-performance');
	mask-size: cover;

	html.theme-1 & {
		background: linear-gradient(100.73deg, rgba(#BEEEF5, .5) 1.11%, rgba(#BDAAE1, .5) 33.86%, rgba(#27A3D5, .5) 68.61%, rgba(#F79BB9, .5) 97.83%);
	}

	html.theme-2 & {
		background-color: $black
	}

	html.theme-3 & {
		mask-image: none;
	}

	html.theme-4 & {
		mask-image: none;
	}

	html.theme-5 & {
		background-color: $beige;
	}

	&__background {
		position: absolute;
		width: 100%;
		height: 770px;

		html.theme-1 &, html.theme-2 &, html.theme-5 & {
			display: none;
		}

		html.theme-3 & {
			fill: $white;
			stroke: rgba($pink, .5);
			stroke-width: 5px;
		}

		html.theme-4 & {
			height: 790px;
			margin-top: -10px;
			fill: $purple;
			stroke: rgba($soft-green, .5);
			stroke-width: 20px;
		}
	}

	&__things {
		position: absolute;
		width: 100%;
		height: 770px;
	}

	&__wrapper {
		position: relative;
		width: 1349px;
		height: 100%;
		margin: 0 auto;
	}

	&__thing {
		position: absolute;

		&_circle {
			border-radius: 50%;

			&-1 {
				top: 283px;
				left: 76px;
				width: 37px;
				height: 37px;

				html.theme-1 &, html.theme-2 &, html.theme-3 & {
					background: radial-gradient(100% 100% at 31.25% 30.21%, #BEEEF5 0%, #F79BB9 100%);
				}

				html.theme-4 & {
					background: radial-gradient(100% 100% at 31.25% 30.21%, #1BF2A3 0%, #5129A6 100%);
				}

				html.theme-5 & {
					background: radial-gradient(100% 100% at 31.25% 30.21%, #F2E5E4 0%, #8C766D 100%);
				}
			}

			&-2 {
				width: 412px;
				height: 412px;
				top: 179px;
				left: 660px;
				opacity: .3;
				background: linear-gradient(190.57deg, #FFFFFF -16.23%, rgba(255, 255, 255, 0) 112.53%);
			}

			&-3 {
				width: 113px;
				height: 110px;
				top: 639px;
				left: 680px;

				html.theme-1 &, html.theme-2 &, html.theme-3 & {
					background: radial-gradient(100% 100% at 31.25% 30.21%, #BEEEF5 0%, #F79BB9 100%);
				}

				html.theme-4 & {
					background: radial-gradient(100% 100% at 31.25% 30.21%, #1BF2A3 0%, #5129A6 100%);
				}

				html.theme-5 & {
					background: radial-gradient(100% 100% at 31.25% 30.21%, #D9C5C1 0%, #8C766D 100%);
				}
			}

			&-4 {
				width: 25px;
				height: 25px;
				top: 413px;
				left: 1173px;

				html.theme-1 &, html.theme-2 &, html.theme-3 & {
					background-color: $light-blue;
				}

				html.theme-4 & {
					background-color: $soft-green;
					box-shadow: -2px -2px 10px #FFFFFF, 2px 2px 10px #339C76;
				}

				html.theme-5 & {
					background-color: $dark-beige;
					box-shadow: -2px -2px 10px #FFFFFF, 2px 2px 10px #339C76;
				}
			}
			
			&-5 {
				width: 267px;
				height: 267px;
				top: 0px;
				right: 0px;
				filter: blur(250px);

				html.theme-1 &, html.theme-2 & {
					background-color: $light-cyan;
				}

				html.theme-4 &, html.theme-5 & {
					display: none;
				}
			}

			&-6 {
				width: 38px;
				height: 38px;
				top: 163px;
				left: 1216px;

				html.theme-1 &, html.theme-2 &, html.theme-3 & {
					background: radial-gradient(100% 100% at 31.25% 30.21%, #BEEEF5 0%, #F79BB9 100%);
				}

				html.theme-4 & {
					background: radial-gradient(100% 100% at 31.25% 30.21%, #1BF2A3 0%, #5129A6 100%)
				}

				html.theme-5 & {
					background: radial-gradient(100% 100% at 31.25% 30.21%, #D9C5C1 0%, #8C766D 100%);
				}
			}
		}

		&_triangle {
			width: 52px;
			height: 34px;
			top: 484px;
			left: 61px;

			html.theme-1 &, html.theme-2 &, html.theme-3 & {
				fill: $pink;
			}

			html.theme-4 & {
				fill: $dark-purple;
				filter: drop-shadow(-5px -5px 5px rgba(255, 255, 255, 0.7)) drop-shadow(4px 4px 10px #3D119A);
			}

			html.theme-5 & {
				fill: $light-beige;
				filter: drop-shadow(-5px -5px 5px rgba(255, 255, 255, 0.7)) drop-shadow(4px 4px 10px #3D119A);
			}
		}

		&_star {
			&-1 {
				width: 56px;
				height: 36px;
				top: 124px;
				left: 306px;
				filter: blur(2.5px);

				html.theme-1 &, html.theme-2 &, html.theme-3 & {
					fill: $soft-pink;
				}

				html.theme-4 & {
					fill: $soft-green;
				}

				html.theme-5 & {
					fill: $dark-beige;
				}
			}

			&-2 {
				width: 49px;
				height: 35px;
				top: 506px;
				left: 1293px;

				html.theme-1 &, html.theme-2 &, html.theme-3 & {
					fill: $pink;
				}

				html.theme-4 & {
					fill: $dark-purple;
				}

				html.theme-5 & {
					fill: $dark-beige;
				}
			}
		}

		&_ring {
			border-radius: 50%;
			border-style: solid;

			&-1 {
				width: 52px;
				height: 52px;
				top: 470px;
				left: 411px;
				border-width: 5px;

				html.theme-1 &, html.theme-2 &, html.theme-3 & {
					border-color: $pink;
				}

				html.theme-4 & {
					border-color: $soft-green;
				}

				html.theme-5 & {
					border-color: $dark-beige;
				}
			}
		}
	}

	&__wrap {
		position: absolute;
		margin: 0 auto;
		margin-top: 80px;
		width: 100%;
		height: 575px;
	}

	&__container {
		height: 100%;
		width: 1070px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.explanation {
	height: 285px;
	flex-basis: 415px;

	&__title {
		font-family: 'Lato';
		font-weight: 900;
		font-size: 43px;
		line-height: 60px;
		margin-top: 40px;
		text-transform: capitalize;

		html.theme-1 &, html.theme-3 & {
			color: $dark-gray;
		}

		html.theme-2 & {
			color: $white-title;
		}

		html.theme-4 & {
			color: $white;
		}

		html.theme-5 & {
			color: $dark-beige;
		}

		&_pink {
			html.theme-1 &, html.theme-2 &, html.theme-3 & {
				color: $pink;
			}

			html.theme-4 & {
				color: $white;
			}

			html.theme-5 & {
				color: $dark-beige;
			}
		}
	}

	&__desc {
		font-family: 'Lato';
		font-weight: 400;
		font-size: 14px;
		margin-top: 5px;
		line-height: 30px;

		html.theme-1 &, html.theme-3 &, html.theme-5 & {
			color: #575757;
		}

		html.theme-2 & {
			color: $white-desc;
		}

		html.theme-4 & {
			color: $white;
		}
	}

	&__btn {
		width: 170px;
		height: 45px;
		border: none;
		outline: none;
		font-family: 'Lato';
		font-weight: 500;
		font-size: 19px;
		border-radius: 25px;
		margin-top: 15px;
		cursor: pointer;

		html.theme-1 & {
			background-color: #FF90B5;
			color: #2C2B2B;
			box-shadow: 0px 10px 15px rgba(240, 58, 118, 0.18);
		}

		html.theme-2 &, html.theme-3 & {
			background-color: $pink;
			color: $white;
			box-shadow: 0px 10px 15px rgba(240, 58, 118, 0.18);
		}

		html.theme-4 & {
			background-color: $purple;
			color: $white;
			box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.3), 10px 10px 20px #3F3C89;
		}

		html.theme-5 & {
			background-color: $light-beige;
			color: $dark-beige;
			box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.3), 10px 10px 20px #8D8786;
		}
	}
}

.smartphone {
	position: relative;
	flex-basis: 480px;
	height: 550px;

	&__image {
		height: 547px;
		margin-top: 20px;
	}

	&__cloud {
		position: absolute;
		bottom: 47px;
		right: 0;
		width: 292px;
		height: 110px;
		background-color: $white;
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
		border-bottom-right-radius: 15px;
		box-shadow: 0 15px 15px rgb(0 0 0 / 5%);
		display: flex;
		flex-direction: column;

		&::after {
			content: '';
			position: absolute;
			left: 0px;
			bottom: -9px;
			width: 25px;
			height: 20px;
			background-color: $white;
			border-bottom-left-radius: 15px;
			border-bottom-right-radius: 45px;
		}

		&_btn {
			background-color: $cyan;
			align-self: flex-end;
			margin-top: 11px;
			margin-right: 18px;
			border-radius: 5px;
			font-family: 'Lato';
			font-weight: 400;
			color: $white;
			text-align: center;
			padding: 3.5px 12.5px;
		}

		&_name {
			width: max-content;
			margin-left: 20px;
			margin-top: -6px;
			font-size: 15px;
			font-family: 'Lato';
			font-weight: 600;

			html.theme-1 &, html.theme-2 &, html.theme-3 & {
				color: $soft-pink;
			}

			html.theme-4 & {
				color: #50CA9D;
			}

			html.theme-5 & {
				color: rgba($dark-beige, .7);
			}
		}

		&_work {
			margin-left: 20px;
			margin-top: 6px;
			font-family: 'Lato';
			font-weight: 700;
			letter-spacing: 0.3px;

			html.theme-1 &, html.theme-2 &, html.theme-3 & {
				color: $pink;
			}

			html.theme-4 & {
				color: $soft-green;
			}

			html.theme-5 & {
				color: $dark-beige;
			}
		}

		&_rating {
			width: 90px;
			height: 15px;
			margin-left: 20px;
			margin-top: 8px;
			display: flex;
			justify-content: space-between;
		}

		&_star {
			width: 15px;
			height: 15px;

			&-full {
				fill: $yellow;
			}

			&-empty {
				fill: $light-gray;
			}
		}

		&_thing {
			position: absolute;

			&-ring {
				width: 22px;
				height: 22px;
				top: 85px;
				left: 255px;
				border-radius: 50%;
				border: 2px solid $yellow;
				opacity: .6;
			}

			&-cursor {
				background: url('/img/sprite.svg#cursor-performance') no-repeat;
				width: 95px;
				height: 80px;
				top: 88px;
				left: 206px;
			}
		}
	}
}

.about {
	width: 100%;
	height: auto;

	&__container {
		width: 960px;
		margin: 80px auto 0;
	}

	&__title {
		text-align: center;
		font-family: 'Lato';
		font-weight: 700;
		font-size: 28px;

		html.theme-1 &, html.theme-3 &, html.theme-5 & {
			color: $dark-gray;
		}

		html.theme-2 & {
			color: $white-title;
		}
		
		html.theme-4 & {
			color: $white;
		}
	}

	&__line {
		width: 55px;
		height: 3px;
		margin: 26px auto 0;
		border: none;
		border-radius: 1.5px;

		html.theme-1 &, html.theme-2 &, html.theme-3 & {
			background-color: $pink;
		}

		html.theme-4 & {
			background-color: $soft-green;
		}

		html.theme-5 & {
			background-color: $dark-beige;
		}
	}

	&__desc {
		width: 600px;
		margin: 0 auto;
		font-family: 'Lato';
		font-weight: 400;
		font-size: 14px;
		text-align: center;
		margin-top: 18px;
		line-height: 28px;
		letter-spacing: 0.07px;

		html.theme-1 &, html.theme-3 &, html.theme-5 & {
			color: $gray;
		}

		html.theme-2 & {
			color: $white-desc;
		}

		html.theme-4 & {
			color: $white;
		}
	}
}

.pros {
	width: 100%;
	height: 265px;
	margin-top: 35px;
	display: flex;
	justify-content: space-between;

	&__item {
		flex-basis: 305px;
		box-shadow: 1px 5.5px 15px rgb(51 51 51 / 8%);
		border-radius: 14px;
		display: flex;
		flex-direction: column;
		align-items: center;

		html.theme-1 &, html.theme-3 &, html.theme-5 & {
			background-color: $white;
		}

		html.theme-2 & {
			background-color: $black;
		}

		html.theme-4 & {
			background-color: $purple;
		}

		html.theme-4 &_special {
			background-color: $dark-purple;
			box-shadow: -1px -5.5px 7.5px rgba(255, 255, 255, 0.5), 2px 8px 7.5px #272560;
		}

		&_wrap {
			margin-top: 23px;
			width: 137px;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&__title {
		margin-top: 23px;
		font-family: 'Lato';
		font-size: 19.4px;
		letter-spacing: .3px;

		html.theme-1 &, html.theme-3 &, html.theme-5 & {
			color: $dark-gray;
		}

		html.theme-2 & {
			color: $white-title;
		}

		html.theme-4 & {
			color: $white;
		}
	}

	&__desc {
		margin-top: 10px;
		font-family: 'Lato';
		font-size: 11px;
		text-align: center;
		letter-spacing: 0;
		width: 250px;
		line-height: 19px;

		html.theme-1 &, html.theme-3 &, html.theme-5 & {
			color: $gray;
		}

		html.theme-2 & {
			color: $white-desc;
		}

		html.theme-4 & {
			color: $white;
		}
	}
}

.strategic {
	width: 100%;
	margin-top: 75px;
	margin-bottom: 75px;

	&__container {
		width: 960px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	&__wrapper {
		flex-basis: 390px;
		margin-left: 5px;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&__information {
		flex-basis: 447px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		font-family: 'Lato';
		font-weight: 700;
		font-size: 29.3px;
		text-transform: capitalize;
		line-height: 42px;

		html.theme-1 &, html.theme-3 &, html.theme-5 & {
			color: $dark-gray;
		}

		html.theme-2 & { 
			color: $white-title;
		}

		html.theme-4 & {
			color: $white;
		}
	}

	&__line {
		width: 55px;
		height: 3px;
		border: none;
		border-radius: 3px;
		margin: 20px 0 0;
		
		html.theme-1 &, html.theme-2 &, html.theme-3 & {
			background-color: $light-blue;
		}

		html.theme-4 & {
			background-color: $soft-green;
		}

		html.theme-5 & {
			background-color: $soft-gray;
		}
	}

	&__desc {
		font-family: 'Lato';
		font-weight: 400;
		font-size: 14.3px;
		width: 420px;
		margin-top: 15px;
		line-height: 30px;

		html.theme-1 &, html.theme-3 &, html.theme-5 & {
			color: $gray;
		}

		html.theme-2 & {
			color: $white-desc;
		}

		html.theme-4 & {
			color: $white;
		}
	}
}

.team {
	position: relative;
	height: 548px;

	html.theme-1 &, html.theme-3 & {
		background-color: #FAFAFF;
	}

	html.theme-2 & {
		background-color: $black;
	}

	html.theme-4 & {
		background-color: $purple;
	}

	html.theme-5 & {
		background-color: #D8CFCB;
	}

	&__things {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&__thing {
		position: absolute;

		&_object {
			top: 42px;
			left: 637px;
			height: 41px;

			html.theme-1 &, html.theme-2 &, html.theme-3 &, html.theme-5 & {
				fill: #2F4BDF;
			}

			html.theme-4 & {
				fill: $white;
			}
		}

		&_square {
			&-1 {
				top: 112px;
				left: 519px;
				width: 540px;
				height: 400px;
				background-image: url('/img/sprite.svg#square-1-team');
				background-repeat: no-repeat;
			}

			&-2 {
				top: 64px;
				left: 1011px;
				height: 83px;

				html.theme-1 &, html.theme-2 &, html.theme-3 &, html.theme-5 & { 
					fill: $soft-pink;
				}

				html.theme-4 & {
					fill: $dark-purple;
				}
			}
		}

		&_circle {
			border-radius: 50%;

			&-1 {
				left: 878px;
				top: 160px;
				width: 286px;
				height: 286px;
				background-color: #683CB8;
			}

			&-2 {
				left: 1169px;
				top: 188px;
				width: 20px;
				height: 20px;
				background-color: $light-blue;
			}

			&-3 {
				left: 1110px;
				top: 482px;
				width: 12px;
				height: 12px;
				background-color: #FFED90;
			}

			&-4 {
				left: 852px;
				top: 233px;
				width: 15px;
				height: 15px;
				background-color: $light-blue;
			}
		}
	}

	&__wrapper {
		width: 1349px;
		height: 100%;
	}

	&__container {
		width: 1070px;
		height: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	&__information {
		flex-basis: 515px;
		margin-left: 4px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 1;
	}

	&__title {
		margin-top: 13px;
		font-family: 'Lato';
		font-weight: 700;
		font-size: 29.6px;
		letter-spacing: -0.2px;

		html.theme-1 &, html.theme-3 &, html.theme-5 & {
			color: $dark-gray;
		}

		html.theme-2 & {
			color: $white-title;
		}

		html.theme-4 & {
			color: $white;
		}
	}

	&__line {
		width: 54px;
		height: 3px;
		margin: 21px 0 0;
		border: 0;
		border-radius: 3px;

		html.theme-1 &, html.theme-2 &, html.theme-3 & {
			background-color: $pink;
		}

		html.theme-4 & {
			background-color: $dark-purple;
		}

		html.theme-5 & {
			background-color: $light-beige;
		}
	}

	&__desc {
		margin-top: 15px;
		font-family: 'Lato';
		font-weight: 400;
		font-size: 14.34px;
		line-height: 30px;

		html.theme-1 &, html.theme-3 &, html.theme-5 & {
			color: $gray;
		}

		html.theme-2 & {
			color: $white-desc;
		}

		html.theme-4 & {
			color: $white;
		}
	}

	&__btn {
		width: 176px;
		height: 46px;
		margin-top: 22px;
		border: 0;
		outline: 0;
		border-radius: 24px;
		font-family: 'Lato';
		font-weight: 500;
		font-size: 19px;
		cursor: pointer;

		html.theme-1 & {
			background-color: #FF90B5;
			color: #2C2B2B;
			box-shadow: 0px 10px 15px rgba(240, 58, 118, 0.18);
		}

		html.theme-2 &, html.theme-3 & {
			background-color: $pink;
			color: $white;
			box-shadow: 0px 10px 15px rgba(240, 58, 118, 0.18);
		}

		html.theme-4 & {
			background-color: $purple;
			color: $white;
			box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.3), 10px 10px 20px #3F3C89;
		}

		html.theme-5 & {
			background-color: $light-beige;
			color: $dark-beige;
			box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.3), 10px 10px 20px #8D8786;
		}
	}

	&__image {
		flex-basis: 445px;
		height: 100%;
		z-index: 1;

		&_laptop {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.portfolio {
	width: 100%;
	height: 437px;

	&__container {
		width: 1132px;
		height: calc(100% - 80px);
		margin: 81px auto 0;
		display: flex;
		justify-content: space-between;
	}

	&__perf {
		position: relative;
		flex-basis: 620px;
		display: flex;
	}

	&__arrow {
		position: absolute;
		top: 165px;
		width: 27px;
		height: 27px;
		border: 0;
		outline: 0;
		border-radius: 50%;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		html.theme-1 &, html.theme-2 &, html.theme-3 &, html.theme-5 & {
			background-color: $pink;
		}

		html.theme-4 & {
			background-color: $purple;
		}

		&-right {
			right: 0;
		}

		&_img {
			width: 18px;
			height: 18px;
			fill: $white;
		}
	}

	&__site {
		width: 600px;
		height: 100%;
		margin-left: 10px;
		object-fit: contain;
		z-index: 1;
	}

	&__information {
		flex-basis: 434px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		font-family: 'Lato';
		font-weight: 700;
		font-size: 29.6px;
		letter-spacing: -0.2px;

		html.theme-1 &, html.theme-3 &, html.theme-5 & {
			color: $dark-gray;
		}

		html.theme-2 & {
			color: $white-title;
		}

		html.theme-4 & {
			color: $white;
		}
	}

	&__line {
		width: 54px;
		height: 3px;
		margin: 20px 0 0;
		border: 0;
		border-radius: 3px;

		html.theme-1 &, html.theme-2 &, html.theme-3 &, html.theme-5 & {
			background-color: #683CB8;
		}

		html.theme-4 & {
			background-color: #8435F2;
		}
	}

	&__desc {
		margin-top: 15px;
		font-family: 'Lato';
		font-weight: 400;
		font-size: 14.33px;
		line-height: 30px;

		html.theme-1 &, html.theme-3 &, html.theme-5 & {
			color: $gray;
		}

		html.theme-2 & {
			color: $white-desc;
		}

		html.theme-4 & {
			color: $white;
		}
	}

	&__btn {
		width: 147px;
		height: 45px;
		margin-top: 23px;
		border: 0;
		outline: 0;
		border-radius: 24px;
		font-family: 'Lato';
		font-weight: 500;
		font-size: 19px;
		cursor: pointer;

		html.theme-1 & {
			background-color: #FF90B5;
			color: #2C2B2B;
			box-shadow: 0px 10px 15px rgba(240, 58, 118, 0.18);
		}

		html.theme-2 &, html.theme-3 & {
			background-color: $pink;
			color: $white;
			box-shadow: 0px 10px 15px rgba(240, 58, 118, 0.18);
		}

		html.theme-4 & {
			background-color: $purple;
			color: $white;
			box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.3), 10px 10px 20px #3F3C89;
		}

		html.theme-5 & {
			background-color: $light-beige;
			color: $dark-beige;
			box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.3), 10px 10px 20px #8D8786;
		}
	}
}

.contact {
	width: 100%;
	height: 400px;

	&__container {
		width: 1000px;
		height: 100%;
		margin: 0 auto;
	}

	&__title {
		margin: 0 auto;
		font-family: 'Lato';
		font-weight: 700;
		font-size: 28.4px;
		text-align: center;
		letter-spacing: -0.2px;

		html.theme-1 &, html.theme-3 &, html.theme-5 & {
			color: $dark-gray;
		}

		html.theme-2 & {
			color: $white-title;
		}

		html.theme-4 & {
			color: $white;
		}
	}

	&__line {
		width: 55px;
		height: 3px;
		margin: 23px auto 0;
		border: 0;
		border-radius: 3px;

		html.theme-1 &, html.theme-2 &, html.theme-3 & {
			background-color: $pink;
		}

		html.theme-4 & {
			background-color: #8435F2;
		}

		html.theme-5 & {
			background-color: $dark-beige;
		}
	}

	&__form {
		height: 223px;
		margin-top: 42px;
		display: flex;
		justify-content: space-between;

		&_block {
			position: relative;
			flex-basis: 460px;
		}
	}

	&__area {
		height: 61px;
		width: 100%;
		margin-top: 24px;

		&:first-child {
			margin-top: 0px;
		}

		&.special {
			height: 137px;
		}
	}

	&__textbox {
		width: 100%;
		padding: 11.5px 15px;
		outline: 0;
		background-color: transparent;
		border: 1px solid #656565;
		border-radius: 8px;
		font-family: 'Lato';
		font-weight: 400;
		font-size: 12px;

		html.theme-1 &, html.theme-3 &, html.theme-5 & {
			color: $gray;
		}

		html.theme-2 & {
			color: $white-desc;
		}

		html.theme-4 & {
			color: $white;
		}

		&::placeholder {
			html.theme-1 &, html.theme-3 &, html.theme-5 & {
				color: $gray;
			}
	
			html.theme-2 & {
				color: $white-desc;
			}
	
			html.theme-4 & {
				color: $white;
			}
		}

		&.special {
			height: 117px;
			padding: 17.5px 15px;
			resize: none;
		}

		&_title {
			margin-bottom: 5px;
			font-family: 'Lato';
			font-weight: 400;
			font-size: 12.7px;

			html.theme-1 &, html.theme-3 &, html.theme-5 & {
				color: $dark-gray;
			}

			html.theme-2 & {
				color: $white-title;
			}

			html.theme-4 & {
				color: $white;
			}
		}
	}

	&__btn {
		position: absolute;
		bottom: 1px;
		right: 0;
		width: 137px;
		height: 45px;
		margin-top: 23px;
		border: 0;
		outline: 0;
		border-radius: 24px;
		font-family: 'Lato';
		font-weight: 500;
		font-size: 19px;
		cursor: pointer;

		html.theme-1 & {
			background-color: #FF90B5;
			color: #2C2B2B;
			box-shadow: 0px 10px 15px rgba(240, 58, 118, 0.18);
		}

		html.theme-2 &, html.theme-3 & {
			background-color: $pink;
			color: $white;
			box-shadow: 0px 10px 15px rgba(240, 58, 118, 0.18);
		}

		html.theme-4 & {
			background-color: $purple;
			color: $white;
			box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.3), 10px 10px 20px #3F3C89;
		}

		html.theme-5 & {
			background-color: $light-beige;
			color: $dark-beige;
			box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.3), 10px 10px 20px #8D8786;
		}
	}
}

.footer {
	width: 100%;
	height: 340px;

	html.theme-1 & {
		background-color: $pink;
	}

	html.theme-2 & {
		background-color: $black;
	}

	html.theme-3 & {
		background-color: #FDE8EF;
	}

	html.theme-4 & {
		background-color: $purple;
	}

	html.theme-5 & {
		background-color: $beige;
	}

	&__container {
		width: 1068px;
		height: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	&__area {
		margin-top: 81px;

		&_desc {
			margin-top: 0px;
			flex-basis: 403px;
			align-self: center;
		}
	}

	&__title {
		font-family: 'Lato';
		font-weight: 700;
		font-size: 18px;
		letter-spacing: .4px;

		html.theme-1 &, html.theme-4 & {
			color: $white;
		}

		html.theme-2 & {
			color: $white-title;
		}

		html.theme-3 & {
			color: $dark-gray;
		}

		html.theme-5 & {
			color: $dark-beige;
		}
	}

	&__links {
		margin-top: 40px;
	}

	&__link {
		margin-top: 18px;
		font-family: 'Lato';
		font-weight: 400;
		font-size: 13px;
		text-decoration: none;
		letter-spacing: .5px;
		display: flex;

		html.theme-1 &, html.theme-4 & {
			color: $white;
		}

		html.theme-2 & {
			color: $white-desc;
		}

		html.theme-3 & {
			color: $dark-gray;
		}

		html.theme-5 & {
			color: $gray;
		}

		&:first-child {
			margin-top: 0px;
		}
	}

	&__wrap {
		width: 14px;
		height: 8px;
		margin-right: 10px;
		margin-top: 2px;
		display: flex;
	}

	&__arrows {
		width: 100%;
		height: 100%;
		object-fit: contain;
		
		html.theme-1 &, html.theme-4 & {
			stroke: $white;
		}

		html.theme-2 & {
			stroke: $white-desc;
		}

		html.theme-3 & {
			stroke: $dark-gray;
		}

		html.theme-5 & {
			stroke: $gray;
		}
	}

	&__name {
		display: flex;
		align-items: center;
	}

	&__logo {
		margin-right: 23px;
		font-family: 'Lato';
		font-weight: 900;
		font-size: 23.4px;
		text-transform: uppercase;

		&_link {
			text-decoration: none;

			html.theme-1 &, html.theme-4 & {
				color: $white;
			}
	
			html.theme-2 & {
				color: $white-title;
			}
	
			html.theme-3 & {
				color: $dark-gray;
			}
	
			html.theme-5 & {
				color: $dark-beige;
			}
		}
	}

	&__copyright {
		font-family: 'Lato';
		font-weight: 400;
		font-size: 10.9px;

		html.theme-1 &, html.theme-4 & {
			color: $white;
		}

		html.theme-2 & {
			color: $white-desc;
		}

		html.theme-3 & {
			color: $dark-gray;
		}

		html.theme-5 & {
			color: $dark-beige;
		}
	}

	&__desc {
		margin-top: 46px;
		font-family: 'Lato', 'Roboto';
		font-weight: 400;
		font-size: 14px;
		line-height: 25px;

		html.theme-1 &, html.theme-4 & {
			color: $white;
		}

		html.theme-2 & {
			color: $white-desc;
		}

		html.theme-3 & {
			color: $dark-gray;
		}

		html.theme-5 & {
			color: $gray;
		}
	}
}