<header class="header">
	<div class="header__container">
		<div class="header__logo">
			<a href="/" class="header__logo_link">tech-world</a>
		</div>

		<div class="header__theme">
			<div class="header__theme_btn-select">
				Theme
				<svg class="header__theme_icon">
					<use xlink:href="/img/sprite.svg#arrow-down"></use>
				</svg>
			</div>

			<ul class="header__theme_list">
				<li class="header__theme_item"><button type="button" class="header__theme_btn">Theme 1</button></li>
				<li class="header__theme_item"><button type="button" class="header__theme_btn">Theme 2</button></li>
				<li class="header__theme_item"><button type="button" class="header__theme_btn">Theme 3</button></li>
				<li class="header__theme_item"><button type="button" class="header__theme_btn">Theme 4</button></li>
				<li class="header__theme_item"><button type="button" class="header__theme_btn">Theme 5</button></li>
			</ul>
		</div>
	</div>
</header>