<section class="about">
	<div class="about__container">
		<h2 class="about__title">Special Expertise from Us</h2>
		<hr class="about__line">
		<div class="about__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In augue et pharetra dolor pharetra, convallis turpis euismod ultrices. Netus nisl pretium sapien egestas vestibulum felis. Nisi orci.</div>
	
		<div class="pros">
			<div class="pros__item">
				<div class="pros__item_wrap">
					<img src="/img/about-mobile-apps.png" alt="Mobile Apps" class="pros__image">
				</div>
				<strong class="pros__title">Mobile Apps</strong>
				<div class="pros__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum mauris non pellentesque accumsan. Nec pellentesque eget.</div>
			</div>
	
			<div class="pros__item pros__item_special">
				<div class="pros__item_wrap">
					<img src="/img/about-website-apps.png" alt="Website Apps" class="pros__image">
				</div>
				<strong class="pros__title">Website Apps</strong>
				<div class="pros__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum mauris non pellentesque accumsan. Nec pellentesque eget.</div>
			</div>
	
			<div class="pros__item">
				<div class="pros__item_wrap">
					<img src="/img/about-ui-ux-design.png" alt="UI UX Design" class="pros__image">
				</div>
				<strong class="pros__title">UI UX Design</strong>
				<div class="pros__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum mauris non pellentesque accumsan. Nec pellentesque eget.</div>
			</div>
		</div>
	</div>
</section>