<section class="performance">
	<div class="performance__things">
		<div class="performance__wrapper">
			<div class="performance__thing performance__thing_circle performance__thing_circle-1"></div>
			<div class="performance__thing performance__thing_triangle"></div>
			<svg class="performance__thing performance__thing_star performance__thing_star-1">
				<use xlink:href="/img/sprite.svg#star-performance"></use>
			</svg>
			<div class="performance__thing performance__thing_ring performance__thing_ring-1"></div>
			<div class="performance__thing performance__thing_circle performance__thing_circle-2"></div>
			<div class="performance__thing performance__thing_circle performance__thing_circle-3"></div>
			<div class="performance__thing performance__thing_circle performance__thing_circle-4"></div>
			<div class="performance__thing performance__thing_circle performance__thing_circle-5"></div>
			<div class="performance__thing performance__thing_circle performance__thing_circle-6"></div>
			<svg class="performance__thing performance__thing_star performance__thing_star-2">
				<use xlink:href="/img/sprite.svg#star-performance"></use>
			</svg>
		</div>
	</div>

	<div class="performance__wrap">
		<div class="performance__container">
			<div class="explanation">
				<h1 class="explanation__title">We create powerful digital <span class="explanation__title_pink">products.</span></h1>
				
				<div class="explanation__desc">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor morbi velit turpis et dolor sit morbi odio id. Aliquam ultricies tortor ac.
				</div>
				
				<button type="button" class="explanation__btn">Get Started</button>
			</div>

			<div class="smartphone">
				<img src="/img/performance-smartphone.png" alt="smartphone" class="smartphone__image">

				<div class="smartphone__cloud">
					<div class="smartphone__cloud_btn">Done</div>
					<div class="smartphone__cloud_name">John Doe</div>
					<div class="smartphone__cloud_work">Develop Communication Plan</div>

					<div class="smartphone__cloud_rating">
						<svg class="smartphone__cloud_star smartphone__cloud_star-full">
							<use xlink:href="/img/sprite.svg#cloud-star"></use>
						</svg>

						<svg class="smartphone__cloud_star smartphone__cloud_star-full">
							<use xlink:href="/img/sprite.svg#cloud-star"></use>
						</svg>

						<svg class="smartphone__cloud_star smartphone__cloud_star-full">
							<use xlink:href="/img/sprite.svg#cloud-star"></use>
						</svg>

						<svg class="smartphone__cloud_star smartphone__cloud_star-full">
							<use xlink:href="/img/sprite.svg#cloud-star"></use>
						</svg>

						<svg class="smartphone__cloud_star smartphone__cloud_star-empty">
							<use xlink:href="/img/sprite.svg#cloud-star"></use>
						</svg>
					</div>

					<div class="smartphone__cloud_thing smartphone__cloud_thing-ring"></div>
					<div class="smartphone__cloud_thing smartphone__cloud_thing-cursor"></div>
				</div>
			</div>
		</div>
	</div>
</section>