<section class="portfolio">
	<div class="portfolio__container">
		<div class="portfolio__perf">
			<button type="button" class="portfolio__arrow portfolio__arrow-left">
				<svg class="portfolio__arrow_img">
					<use xlink:href="/img/sprite.svg#arrow-left"></use>
				</svg>
			</button>
			<img src="/img/perf-portfolio.png" alt="Картинки с портфолио" class="portfolio__site">
			<button type="button" class="portfolio__arrow portfolio__arrow-right">
				<svg class="portfolio__arrow_img">
					<use xlink:href="/img/sprite.svg#arrow-right"></use>
				</svg>
			</button>
		</div>

		<div class="portfolio__information">
			<h2 class="portfolio__title">Portfolio</h2>
			<hr class="portfolio__line">
			<div class="portfolio__desc">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi risus duis nibh laoreet. Malesuada luctus tincidunt tortor consectetur netus facilisi dapibus laoreet orci. Viverra amet maecenas consectetur tincidunt felis, pretium posuere ut sapien. Cursus lacus vitae purus <br> est viverra eu ornare tellus augue. Proin risus, sed diam ac. Aliquet.
			</div>
			<button type="button" class="portfolio__btn">View All</button>
		</div>
	</div>
</section>