<section class="strategic">
    <div class="strategic__container">
        <div class="strategic__wrapper">
            <img src="/img/preview-strategic.png" alt="Какая-то Земля со стрелками и линиями" class="strategic__image">
        </div>

        <div class="strategic__information">
            <h2 class="strategic__title">strategic engineering and design for international top brands</h2>
            <hr class="strategic__line">
            <div class="strategic__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi risus duis nibh laoreet. Malesuada luctus tincidunt tortor consectetur netus facilisi dapibus laoreet orci.</div>
        </div>
    </div>
</section>